MYSQL_HOST_CONNECT_DB_ONE="localhost"
MYSQL_DB_CONNECT_DB_ONE="test1"
MYSQL_PASSWORD_CONNECT_DB_ONE="root"
MYSQL_USER_CONNECT_DB_ONE="root"
MYSQL_PORT_CONNECT_DB_ONE=3306

MYSQL_HOST_CONNECT_DB_TWO="localhost"
MYSQL_DB_CONNECT_DB_TWO="test2"
MYSQL_PASSWORD_CONNECT_DB_TWO="root"
MYSQL_USER_CONNECT_DB_TWO="root"
MYSQL_PORT_CONNECT_DB_TWO=3307